<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <style>
      .wrapper-container {
        width: 100%;
        margin: 24px 0;
      }

      .wrapper-container img {
        display: flex;
        margin: auto;
        width: 40px;
        aspect-ratio: 80/40;
        object-fit: cover;
      }
      
      .wrapper-container .wrapper-header {
        width: 100%;
      }
      
      .wrapper-container .wrapper-content {
        width: 725px;
        display: block;
        margin: auto;
      
        box-sizing: border-box;
        border: 1px solid #DCDCDC;
        border-radius: 0 0 8px 8px;
      }

      .wrapper-container .title-content {
        width: 725px;
        margin: auto;
        background-color: rgba(189, 226, 204, 1);
        margin-top: 24px;
        border-radius: 8px 8px 0 0;
      }

      .wrapper-container .title-content h1 {
        font-family: "Inter";
        font-style: normal;
        margin: 0;
        padding: 30px 24px;
        color: #000 !important;
      }

      .wrapper-container .wrapper-content .space-content {
        padding: 24px;
      }
      
      .wrapper-container .wrapper-content .space-content p {
        font-family: "Inter";
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000 !important;
      }

      .wrapper-container .wrapper-content .space-content h1 {
        font-family: "Inter";
        font-style: normal;
        text-align: center;
        color: #000 !important;
      }

      .code-content {
        display: flex;
        margin-bottom: 24px;
      }

      .code-content p {
        margin: 0;
        padding: 0;
      }

      .code-content .code{
        width: 75px;
        margin-left: 5px;
      }

      .code-content .code p {
        text-align: center;
        font-weight: 600;
      }

      hr {
        background: #DCDCDC;
      }

    </style>
  </head>
  <body>
    <div class="wrapper-container">
      <div class="wrapper-header">
        <img src="https://res.cloudinary.com/cloundmedicalschedule/image/upload/v1632310079/icon_hafmug.png">
      </div>
      <div class="title-content">
        <h1>Silent Hero App Verification Code</h1>
      </div>
      <div class="wrapper-content">
        <div class="space-content">
          <p>Dear Silent Hero App User</p>
          <p>Please use the following security code for the "Silent Hero App" account  <%= name %> through your email address, Your  "Silent Hero App" verification code is:</p>
          <h1><%= code%></h1>
          <hr />
          <p>Thanks,</p>
          <P>The Silent Hero App account team<P>
        </div>
      </div>
    </div>
  </body>
</html>

